
.my-form {
  padding-left: 30px;
  padding-right: 30px;
}

.full-width {
  width: 100%;
}
.my-card {
  /* margin-top:150px; */
  height: auto;
}


   
  .full-width {
    width: 100%;
  }
  .my-card{
  height: auto;
  
  } 
  

  .aaa{
  margin: auto;
  }
  .button{
  float: right;
}
.txt1 {
  padding-left: 25px;
}
.mat-card-content {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: auto;
  padding-bottom: 20px;
  border: 2px solid;
}
.awall {
  float: right;
  padding-left: 280px;
}
.error {
  color: red;
}
.errormesg {
  color: red;
  font-size: small;
}

