<mat-toolbar style="background-color: white;">
  <mat-toolbar-row>
    <mat-card style="width: 100%">
      <span>Employee Management</span>
    </mat-card>
  </mat-toolbar-row>
  <mat-toolbar-row style="height: 50px;">
    <mat-button-toggle-group #group="matButtonToggleGroup" appearance="legacy" name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="emplist">Employee Details</mat-button-toggle>
        <mat-button-toggle value="emptypelist">Employee List</mat-button-toggle>
      </mat-button-toggle-group>
  </mat-toolbar-row>
</mat-toolbar>
<mat-divider></mat-divider>
<app-employee-list *ngIf="group.value == 'emplist'"></app-employee-list>
<app-employee-type-list *ngIf="group.value == 'emptypelist'"></app-employee-type-list>